[Unit]
Description=Dulles Robotics Website Server [DEV]
After=network.target

[Service]
ExecStart=/bin/bash ./website.sh
WorkingDirectory=/var/www/dev.dullesrobotics.com/
Restart=no
User=administrator

[Install]
WantedBy=multi-user.target
